.git
.github

build
dist
KindleComicConverter.egg-info

.dockerignore
.gitignore
.travis.yml

Dockerfile
venv
.venv
__pycache__/
*/__pycache__/
*.pyc

*.md
*.txt
!requirements-docker.txt
MANIFEST.in

*.yml
*.spec

*.svg
*.jpg
*.json

gen_ui_files.bat
gen_ui_files.sh

gui/
icons/

kindlecomicconverter/KCC_gui.py
kindlecomicconverter/KCC_rc.py
kindlecomicconverter/KCC_ui_editor.py
kindlecomicconverter/KCC_ui.py
