<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Kindle Comic Converter</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>cbz</string>
			<string>cbr</string>
			<string>cb7</string>
			<string>zip</string>
			<string>rar</string>
			<string>7z</string>
			<string>pdf</string>
		</array>
		<key>CFBundleTypeIconFile</key>
		<string>comic2ebook.icns</string>
		<key>CFBundleTypeName</key>
		<string>Comics</string>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MacOS/Kindle Comic Converter</string>
	<key>CFBundleGetInfoString</key>
	<string>KindleComicConverter 5.5.2, written 2012-2019 by Ciro Mattia Gonano and Pawel Jastrzebski</string>
	<key>CFBundleIconFile</key>
	<string>comic2ebook.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kindlecomicconverter.KindleComicConverter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kindle Comic Converter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.5.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.5.2</string>
	<key>LSEnvironment</key>
	<dict>
		<key>PATH</key>
		<string>./../Resources:/Applications/Kindle Comic Creator/Kindle Comic Creator.app/Contents/MacOS:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.14.0</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>ISC License (ISCL)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>false</string>
	<key>NSInitialToolTipDelay</key>
	<integer>1000</integer>
</dict>
</plist>
